{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]}.
{deps, [
        {apns, {git, "https://github.com/dcy/apns4erl", {branch, "master"}}},
        {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.6.5"}}},
        {turtle, {git, "https://github.com/shopgun/turtle", {tag, "1.8.1"}}},
        {flyme_push, {git, "https://github.com/dcy/flyme_push", {branch, "master"}}},
        {fcm_push, {git, "https://github.com/dcy/fcm_push", {branch, "master"}}},
        {huawei_push, {git, "https://github.com/dcy/huawei_push", {branch, "master"}}},
        {hms_push, {git, "https://github.com/dcy/hms_push", {branch, "master"}}},
        {xiaomi_push, {git, "https://github.com/dcy/xiaomi_push", {branch, "master"}}},
        {eyunpian, {git, "https://github.com/dcy/eyunpian", {branch, "master"}}},
        {eqsms, {git, "https://github.com/dcy/eqsms", {branch, "master"}}},
        {gen_smtp, {git, "https://github.com/Vagabond/gen_smtp", {tag, "0.11.0"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.8"}}},
        {eutil, {git, "https://github.com/dcy/eutil", {branch, "master"}}}
       ]}.

%{plugins, [pc]}.
%{provider_hooks,
% [
%  {pre,
%   [
%    {compile, {pc, compile}},
%    {clean, {pc, clean}}
%   ]}
% ]}.

{relx, [{release, {epush, "0.0.1"},
         [epush,
          {observer, load},
          {wx, load},
          {runtime_tools, load}
         ]},

        {dev_mode, true},
        {include_erts, false},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {overlay, [{copy, "priv", "."}]},
        {extended_start_script, true}
       ]}.

{profiles, [{prod, [{relx, [{release, {epush, "0.0.1"},
                             [epush,
                              {runtime_tools, load}
                             ]},
                            {dev_mode, false}
                            ,{include_erts, true}]}
                   ]}
           ]}.

