[
{turtle, [
    {connection_config, [#{conn_name => amqp_server,
                              username => "username",
                              password => "password",
                              virtual_host => "/",
                              connections => [
                              {main, [
                                  {"localhost", 5672 } ]},
                              {backup, [
                                  {"localhost", 5672 } ]} ]
                          }]}
]},

{epush, [
    {http_port, 8002},
    {push_confs, [
        #{id => apns1, type => apns, certfile => "priv/apns1_cert.pem", keyfile => "priv/apns1_key.pem", is_dev_env => false, headers => #{}, pool_size => 2, timeout => 5000},
        #{id => apns2, type => apns, certfile => "priv/apns2_cert.pem", keyfile => "priv/apns2_key.pem", is_dev_env => false, headers => #{apns_topic => "apns_topic"}, pool_size => 2, timeout => 5000},
        #{id => xiaomi1, type => xiaomi, pkg_name => "xiaomi1_pkg_name", app_secret => "xiaomi1_app_secret",
            pool_size => 6},
        #{id => hms1, type => hms, app_id => 123456, app_secret => "hms1_app_secret",
            pool_size => 6},
        #{id => fcm1, type => fcm, api_key=> "fcm1_api_key", proxy => {socks5, "127.0.0.1", 1080},
            pool_size => 6},
        #{id => flyme1, type => flyme, app_id => 123456, app_secret => "flyme1_app_secret",
            pool_size => 6},

        #{id => yunpian, type => yunpian, apikey => "yunpian_apikey", pool_size => 6}
    ]}
]},


{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "log/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {colored, true}
]}

].
