[
{turtle, [
    {connection_config, [#{conn_name => amqp_server,
                              username => "hisir",
                              password => "hisir123",
                              virtual_host => "/",
                              connections => [
                              {main, [
                                  {"localhost", 5672 } ]},
                              {backup, [
                                  {"localhost", 5672 } ]} ]
                          }]}
]},

{epush, [
    {http_port, 8002},
    {push_confs, [
        #{id => apns_c, type => apns, cert_file => "priv/cert1.pem", is_sandbox_env => false,
            pool_size => 6},
        #{id => apns_t, type => apns, cert_file => "priv/cert2.pem", is_sandbox_env => false,
            pool_size => 6},
        #{id => xiaomi_c, type => xiaomi, pkg_name => "xiaomi_pkg_name", app_secret => "xiaomi_app_secret",
            pool_size => 6},
        #{id => huawei_c, type => huawei, app_id => 123456, app_secret => "huawei_app_secret",
            pool_size => 6},
        %#{id => fcm_t, type => fcm, api_key=> "fcm_api_key", proxy => undefined,
        %   pool_size => 6}
        #{id => fcm_c, type => fcm, api_key=> "fcm_api_key", proxy => "127.0.0.1:1081",
            pool_size => 6},
        #{id => flyme_c, type => flyme, app_id => 123455, app_secret => "flyme_app_secret",
            pool_size => 6},
        #{id => yunpian, type => sms, sms_type => yunpian, apikey => "yunpian_apikey",
            pool_size => 6}
    ]}
]},

%{apns, [{apple_host,       "gateway.sandbox.push.apple.com"}
%    , {apple_port,       2195}
%    , {cert_file,        "priv/cert.pem"}
%    , {key_file,         undefined}
%    , {timeout,          30000}
%    , {feedback_host,    "feedback.sandbox.push.apple.com"}
%    , {feedback_port,    2196}
%    , {feedback_timeout, 600000} %% 10 Minutes
%]},

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "log/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {colored, true}
]}

].
