[
{turtle, [
    {connection_config, [#{conn_name => amqp_server,
                              username => "name",
                              password => "password",
                              virtual_host => "/",
                              connections => [
                              {main, [
                                  {"localhost", 5672 } ]},
                              {backup, [
                                  {"localhost", 5672 } ]} ]
                          }]}
]},

{epush, [
    {push_confs, [
        #{type => apns, pool_size => 6, queue => <<"apns_c">>, cert_file => "priv/cert1.pem", is_sandbox_env => false},
        #{type => apns, pool_size => 6, queue => <<"apns_t">>, cert_file => "priv/cert2.pem", is_sandbox_env => false},
        #{type => xiaomi, pkg_name => "xiaomi_pkg_name", app_secret => "xiaomi_app_secret",
            pool_size => 6, queue => <<"xiaomi_c">>},
        #{type => huawei, app_id => 123456, app_secret => "huawei_app_secret",
            pool_size => 6, queue => <<"huawei_c">>},
        %#{type => fcm, app_secret => "fcm_app_secret", proxy => undefined,
        %   pool_size => 6, queue => <<"fcm_t">>}
        #{type => fcm, app_secret => "fcm_app_secret", proxy => "127.0.0.1:1081",
            pool_size => 6, queue => <<"fcm_c">>},
        #{type => sms, sms_type => yunpian, apikey => "yunpian_apikey",
            pool_size => 6, queue => <<"yunpian">>}
    ]}
]},

%{apns, [{apple_host,       "gateway.sandbox.push.apple.com"}
%    , {apple_port,       2195}
%    , {cert_file,        "priv/cert.pem"}
%    , {key_file,         undefined}
%    , {timeout,          30000}
%    , {feedback_host,    "feedback.sandbox.push.apple.com"}
%    , {feedback_port,    2196}
%    , {feedback_timeout, 600000} %% 10 Minutes
%]},

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "log/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {colored, true}
]}

].
